.collapser
  %form.inline{:method => "post", :action => "/collapse"}
    %input{:name =>"url[full]", :type => "text", :placeholder => "Paste your url"}
    %input.last{:type => "submit", :value => "Collapse It!"}

  - if params[:short]
    - link = link_to "/#{params[:short]}", :full_url
    %h3== Your Collapsed URL: <a href="#{link}"}">#{link}</a>
    %button#d_clip_button Copy!

    :javascript
      var clip = null;
      
      function init() {
        clip = new ZeroClipboard.Client();
      
        clip.setText( "#{link}" );
        clip.glue( 'd_clip_button' );
      }
