@import constants.sass

body
  padding-top: 90px
  font-family: $normal_fonts
  color: $font_color
  background: $body_background_color

h1, h2, h3, h4, h5, h6
  font-family: $headline_fonts
  color: $headline_color
  font-weight: bold

a
  color : $link_color
  text-decoration: none
  outline: 0
  &:visited
    color: $link_color
  &:hover
    color: $link_hover_color
    text-decoration: underline
  &:active
    color: $link_active_color
    background: $link_hover_color
    text-decoration: none
  &.cancel
    color: red
  &.cancel:active
    color: $link_active_color
    background: red

blockquote
  border-left: 4px solid #ddd

small
  color: $weak_color

.alignright
  text-align: right
.alignleft
  text-align: left
.aligncenter
  text-align: center

header
  h1
    margin-bottom: 0
    line-height: 1.5
    text-shadow: 1px 1px 0px #fff
    a
      color: #666
      &:visited
        color: #666
      &:hover
        color: $link_color
        text-decoration: none
      &:active
        color: $link_hover_color
        background: none

#flash_box
  :left 0
  :padding 1em 0
  :position absolute
  :width 100%
  :z-index 100
  :opacity 0.8
  :background-color #FCFCFF
  :border-bottom 1px solid #CCCCCC
  :cursor pointer
  #flash
    :font-weight bold
    :text-align center
  #flash.success
    :color #264409
  #flash.notice
    :color #514721
  #flash.error
    :color #8A1F11

#content
  .collapser
    input[type=text]
      width: 300px
      padding: 6px
      border: 1px inset #ddd
      -webkit-border-radius: 5px
      -mox-border-radius: 5px
      border-radius: 5px
      font-size: 120%
    input[type=submit]
      outline: 0
      background: #ffb515 url('/images/alert-overlay.png') repeat-x
      display: inline-block
      padding: 8px 10px 7px
      color: #fff
      text-decoration: none
      font-weight: bold
      line-height: 1
      font-size: 120%
      -moz-border-radius: 5px
      -webkit-border-radius: 5px
      border-radius: 5px
      -moz-box-shadow: 1px 1px 2px rgba(0, 0 ,0, 0.5)
      -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)
      box-shadow:  1px 1px 2px rgba(0, 0, 0, 0.5)
      text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25)
      border: 0
      border-bottom: 1px solid rgba(0, 0, 0, 0.25)
      position: relative
      cursor: pointer
      &:hover
        background-color: #fc9200
      &:active
        top: 1px

footer p
  color: #aaa
  font-size: 0.75em
  font-weight: bold
  text-shadow: 1px 1px 0px #fff
  a:active
    text-shadow: none